<section class="container">
	<h1>Editing device</h1>
	
	<%= render 'form' %>
	
	<br />
	<%= link_to 'Back', "/", :class=>"btn" %>
	<%= link_to 'Show', @device, :class => "btn" %>
	<%= link_to 'Destroy', @device, method: :delete, data: { confirm: 'Are you sure?' }, :class=>"btn btn-danger" %>
</section>
