<div class="navbar navbar-static-top navbar-inverse">
	<div class="navbar-inner">
		<ul class="nav">
			<li class="active"><a href="#">Home</a></li>
			<li><a href="#">About Sentrino</a></li>
			<li><a href="#">Log in</a></li>
			<li><a href="#">Sign up</a></li>
		</ul>
	</div>
</div>