<div id="top-nav" class="navbar">
	<div class="navbar-inner">
		<ul class="nav">
			<li><a class="brand" href="/">Sentrino</a></li>
		</ul>
		<ul class="nav pull-right">
			<li>
				<%= user_signed_in? ? link_to('Logout', destroy_user_session_path, :method=>'delete') : link_to("Sign in", "/sign_in") %>
			</li>
			<% if user_signed_in? %>
			<li>
				<a href="" id="settings-button" data-toggle="dropdown" title="settings" class="dropdown-toggle">
					<i class="icon-cogs"></i>
					<i class="icon-angle-down"></i>
				</a>
			</li>
			<% end %>
		</ul>
	</div>
</div>