<aside id="settings-dropdown" class="dropdown">
	<div class="settings-section">
		<%= current_user.email %>

		<div id="settings-close">
			<i class="icon-remove"></i>
		</div>		
	</div>

	<div class="settings-section">
		<li>
			<a href="">Add device</a>
		</li>
		<li>
			<a href="">All tasks</a>
		</li>
	</div>
	
</aside>