<section class="dashboard-wrap">
	<div class="welcome">
		<h1>Welcome, <%= current_user.email %></h1>
	</div>

	<div class="device-list-head">
		<h2>Your devices</h2>
	</div>

	<%= render :template => "devices/index" %>
	
	<%= link_to 'Add a Device', new_device_path, :class => "btn btn-primary btn-large" %>
</section>