<header id="overview" class="hero-unit">
	<h1>Sentrino</h1>
	<p>Blah blah blah, Arduino interfacing, blah blah blah, web app.</p>
	<p><%= link_to "Sign up", "/users/sign_up", :class=>"btn btn-primary btn-large" %></p>
</header>