<header id="overview" class="hero-unit">
	<h1>Sentrino</h1>
	<p>Interfacing and automation with Arduino, Raspberry Pi, and more.</p>
	<p><%= link_to "Sign up", "/users/sign_up", :class=>"btn btn-primary btn-large" %></p>
</header>