<%= render "shared/nav" %>

<header id="overview" class="hero-unit">
	<div class="container-fluid">
		<h1>Sentrino! <small>something something something.</small></h1>
		<p>Blah blah blah, Arduino interfacing, blah blah blah, web app.</p>
		<p>
			<a class="btn btn-primary btn-large">Sign up</a>
		</p>
	</div>
</header>

<div id="home-content">
	<div class="container-fluid">
		<div class="row-fluid">
			<div class="span6">span6</div>
			<div class="span6">span6</div>
		</div>
		<div class="row-fluid">
			<div class="span4">span4</div>
			<div class="span4">span4</div>
			<div class="span4">span4</div>
		</div>
		<div class="row-fluid">
			<div class="span3">span3</div>
			<div class="span3">span3</div>
			<div class="span3">span3</div>
			<div class="span3">span3</div>
		</div>
	</div>
</div>