<header id="overview" class="hero-unit">
	<div class="container-fluid">
		<h1>Sentrino! <small>something something something.</small></h1>
		<p>Blah blah blah, Arduino interfacing, blah blah blah, web app.</p>
		<p><%= link_to "Sign up", "sign_up", :class=>"btn btn-primary btn-large" %></p>
	</div>
</header>