.dashboard-wrap {
	min-width: 320px;
	
	// Welcome, a@b.c!
	.welcome {
		@include full-width;
		background: #fff;
		@include box-shadow(1px 1px 5px rgba(0, 0, 0, 0.1));

		h1 {
			padding: 0.5em 0 0.6em 20px;
			margin: 0 0 10px;
			color: #3a3a3a;
		}
	}

	h2 {
		font-weight: 400;		
	}
}

// Tasks container
.tasks-container {
	display: block;
	margin-top: 1em;

	li {
		list-style-type: none;
	}
}


/* Settings dropdown menu
   ========================================================================== */

#settings-dropdown {
	@extend .arrow_box;
	position: absolute;
	top: 0;
	left: 0;

	padding: 0.5em;
	border: 1px solid #ccc;
	border-top-width: 0;
	@include border-radius(0 0 4px 4px);
	width: 300px;
	height: 200px;

	background: #fff;
	@include box-shadow(-1px 1px 5px rgba(50, 50, 50, 0.15));

	li {
		list-style-type: none;
	}

	a {
		display: block;
		padding: 10px;
		margin: 0 -8px;
		color: #444;
	}

	a:hover {
		background-color: #3290C7;
		text-decoration: none;
		color: #fafafa;
	}
}

.settings-section {
	@include clearfix;
	@include hand;
	padding: 0.4em 0;
	border-bottom: 1px solid #ddd;

	&:last-child {
		border-bottom: 0 none;		
	}
}

#settings-close {
	float: right;
	margin-right: 5px;
	color: #444;
}