/* ==========================================================================
   Devise authentication
   ========================================================================== */

.user-panel {
	@extend .pretty-form;

	label {
		display: inline-block;
	}
}

.user-options {
	@include clearfix;
	display: block;
	margin: 0.4em 0 1em;
}