/* ==========================================================================
   Device list
   ========================================================================== */

// Device listing on dashboard
.device-list {
	@include clearfix;
	margin-top: 1em;
	margin-bottom: 3em;
}

.device-list-header {
	@include clearfix;
	display: block;
	margin-top: 2em;

	a {
		float: left;
		padding: 0.3em 0.3em 0.2em;
		margin: 0;
		color: #444;

		&:hover {
			color: #777;
			text-decoration: none;
		}
	}
	
	h2 {
		float: left;
		margin: 0 0.5em 0 0;
	}
}


// Single device panel
.device-list-item {
	@include clearfix;
	width: 30em;

	.inner {
		@include raised-block;
		background: #fff;
	}
}

//
.device-header {
	@include clearfix;
	@include border-radius(3px 3px 0 0);

	padding: 0.4em 1em;
	background: #333;
	color: #fafafa;
}

.device-title,
.device-stats {
	float: left;
	width: 50%;
}

// e.g. Apartment, Garage
.device-title {
	padding: 0;
	margin:  10px 0 5px;
	font-weight: 300;
	font-size: 1.6em;
	line-height: 1em;
}

.device-stats { }

//Main content area
.device-body {
	@include clearfix;

	padding: 0.8em 1em 0;

	h3 {
		padding: 0 1em;		
	}

}

//
.device-readings,
.device-tasks {
	margin: 0 0 20px;
	list-style: none;
}

//
.device-footer {
	@include clearfix;
	@include border-box;
	@include box-shadow(inset 1px 4px 5px -5px #878F82);
	@include border-radius(0 0 4px 4px);

	background: #F7F7F7;
	padding: 0.4em;
	text-align: center;

	a {
		color: #333;
		padding: 0.4em 0.9em;
		font-size: 14px;

		&:hover {
			text-decoration: none;
			color: #006DCC;
		}
	}

	i {
		font-size: 1.25em;
	}
}
