/* ==========================================================================
   Mixins
   ========================================================================== */


/* Variables
   ========================================================================== */

$page-gutter: 2em;
$open-sans: 'Open Sans', sans-serif;
$oxygen: 'Oxygen', sans-serif;

$header-font: $open-sans;
$body-font: $open-sans;


/* Colors
   ========================================================================== */

$lt-blue: #006DCC;
$muted-blue: #4780C0;
$blood: #BF4242;

$link-color: $lt-blue;
$danger-color: $blood;

@mixin hand {
	cursor: hand;
	cursor: pointer;
}

@mixin full-width($gutter: $page-gutter) {
	margin-left: -$gutter;
	margin-right: -$gutter;
	padding-left: $gutter;
	padding-right: $gutter;
}

@mixin border-box {
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;         /* Opera/IE 8+ */
}

@mixin raised-block {
	border: 1px solid #ccc;
	@include border-radius(4px);
	@include box-shadow(-1px 1px 5px rgba(50, 50, 50, 0.15));
	margin-bottom: 1em;
}

/* Classes
   ========================================================================== */

.pretty-form {
	padding: 2em;
	margin: 0 auto;
	width: 350px;

	h1,
	h2 {
		margin: 0 0 1em;
		text-align: center;
	}
		
	input[type="text"],
	input[type="email"],
	input[type="password"],
	input[type="submit"],
	select {
		display: block;
		width: 100%;
		height: 3em;
		@include box-sizing(border-box);
	}

	input[type="email"],
	input[type="password"] {
		height: 3em;
		box-shadow: 0 0 0 #000;

		&:focus {
			background: #fcfcfc;
			color: #333;
		}
	}
			
	input[type="checkbox"] {
		margin-top: -3px;	
	}

	select {
		padding-top: 5px;	
	}
}


/* Arrow_box
   ========================================================================== */

.arrow_box {
	position: relative;
	background: #fff;
	border: 2px solid #fff;
}

.arrow_box:after,
.arrow_box:before{
	position: absolute;
	bottom: 100%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	pointer-events: none;
}

.arrow_box:after {
	right: 20%;
	border-color: rgba(255, 255, 255, 0);
	border-bottom-color: #ffffff;
	border-width: 0px;
	margin-left: -10px;
}

.arrow_box:before {
	right: 20%;
	border-color: rgba(255, 255, 255, 0);
	border-bottom-color: #ffffff;
	border-width: 7px;
	margin-left: -10px;
}