html, body
	padding: 0
	margin: 0
	height: 100%

::selection
	background: #F2905B /* Safari */

::-moz-selection
	background: #F2905B /* Firefox */

label
	display: inline-block

/* ==========================================================================
   Layout
   ========================================================================== */

#overview
	background: #f0f0f0
	border-bottom: 1px solid #eaeaea

#container
	height: 100%
	position: relative

#body
	margin-bottom: 30px

footer
	display: block
	padding: 1%
	height: 20px
	width: 98%
	background: #eee
	text-align: center
	font-size: 0.9em

/* ==========================================================================
   Index/Home
   ========================================================================== */

/* ==========================================================================
   Devise
   ========================================================================== */

.user-panel
	padding: 1em 2em
	border: 1px solid #e0e0e0
	border-radius: 4px
	background: #fafafa

	h2
		margin: 0 0 1em

.device-list
	border-radius: 4px
	margin-bottom: 1em
	background: #f4f4f4

	p, h3
		margin:  0.2em 1.5em 0.4em