html, body
	padding: 0
	margin: 0
	height: 100%
	background: #fafafa

::selection
	background: #F2905B /* Safari */

::-moz-selection
	background: #F2905B /* Firefox */

label
	display: inline-block

.fleft
	float: left

.fright
	float: right

.clear
	clear: both

.center
	text-align: center

/* ==========================================================================
   Mixins
   ========================================================================== */
=gradient($from, $to)
	/* fallback/image non-cover color */
	background-color: $from

	/* Firefox 3.6+ */
	background-image: -moz-linear-gradient($from, $to)

	/* Safari 4+, Chrome 1+ */
	background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from($from), to($to))

	/* Safari 5.1+, Chrome 10+ */
	background-image: -webkit-linear-gradient($from, $to)

	/* Opera 11.10+ */
	background-image: -o-linear-gradient($from, $to)

.box-sizing
	-webkit-box-sizing: border-box /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box    /* Firefox, other Gecko */
	box-sizing: border-box         /* Opera/IE 8+ */

/* Clearfix */

/**
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    contenteditable attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that are clearfixed.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.cf:before,
.cf:after
	content: " " /* 1 */
	display: table /* 2 */

.cf:after
	clear: both

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.cf
	*zoom: 1

/* ==========================================================================
   Layout
   ========================================================================== */

#overview
	background: #f0f0f0
	border-bottom: 1px solid #eaeaea

#container
	height: 100%
	position: relative

#body
	padding-bottom: 20px
	margin-bottom: 30px

#top-nav

	.navbar-inner
		padding-top: 8px
		padding-bottom: 8px
		background: #444

	a
		color: #eaeaea

footer
	display: block
	padding: 1%
	height: 20px
	width: 98%
	background: #eee
	text-align: center
	font-size: 0.9em


/* ==========================================================================
   Index/Home
   ========================================================================== */

.device-list

	.inner
		border: 1px solid #ddd
		background: #fafbfc
		margin-bottom: 1em

	p, h3
		margin:  0.2em 1.5em 0.4em

/* ==========================================================================
   Devise
   ========================================================================== */

.user-panel
	padding: 2em

	h2
		margin: 0 0 1em
		text-align: center

	input[type="email"],
	input[type="password"],
	input[type="submit"]
		display: block
		width: 100%
		@extend .box-sizing

	input[type="email"],
	input[type="password"]
		height: 3em
		box-shadow: 0 0 0 #000

	input[type="email"]:focus,
	input[type="password"]:focus
		background: #fcfcfc
		color: #333

.user-options
	@extend .cf
	display: block
	margin: 0.4em 0 1em
