html, body
	padding: 0
	margin: 0
	height: 100%

::selection
	background: #F2905B /* Safari */

::-moz-selection
	background: #F2905B /* Firefox */

label
	display: inline-block

/* ==========================================================================
   Mixins
   ========================================================================== */
=gradient($from, $to)
	/* fallback/image non-cover color */
	background-color: $from

	/* Firefox 3.6+ */
	background-image: -moz-linear-gradient($from, $to)

	/* Safari 4+, Chrome 1+ */
	background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from($from), to($to))

	/* Safari 5.1+, Chrome 10+ */
	background-image: -webkit-linear-gradient($from, $to)

	/* Opera 11.10+ */
	background-image: -o-linear-gradient($from, $to)

/* ==========================================================================
   Layout
   ========================================================================== */

#overview
	background: #f0f0f0
	border-bottom: 1px solid #eaeaea

#container
	height: 100%
	position: relative

#body
	padding-bottom: 20px
	margin-bottom: 30px

footer
	display: block
	padding: 1%
	height: 20px
	width: 98%
	background: #eee
	text-align: center
	font-size: 0.9em


/* ==========================================================================
   Index/Home
   ========================================================================== */

/* ==========================================================================
   Devise
   ========================================================================== */

.user-panel
	padding: 1em 2em
	border: 1px solid #e0e0e0
	border-radius: 4px
	background: #fafafa

	h2
		margin: 0 0 1em

.device-list

	.inner
		border: 1px solid #ddd
		background: #fafbfc
		margin-bottom: 1em

	p, h3
		margin:  0.2em 1.5em 0.4em